<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Nectar Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Nectar Registration</h1>
    </div>
    <form class="form-horizontal" action="#" th:action="@{/registration}" th:object="${registration}" method="post">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-6">
                <input class="form-control" id="username" type="text" th:field="*{username}" placeholder="Enter username" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-6">
                <input class="form-control" id="pwd" type="password" th:field="*{password}" placeholder="Enter password" />
            </div>
        </div>
        <input class="btn btn-info" type="submit" value="Register" />
        <input class="btn btn-warning" type="reset" value="Clear Form" />
    </form>
</div>
</body>
</html>
